<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Muffin - browse, add, rate, and search check for deals on your favorite games!</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Orelega+One&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<div class="wrapper">
    <header>
        <h1 id="logo">gameMuffin</h1>
        <nav class="navbar">
            {{#if loggedIn}}
            <a href="/" class="navbar-item is-hoverable">home</a>
            <a href="/dashboard" class="navbar-item">dashboard</a>
            <a href="/dashboard/create/" class="navbar-item">create post</a>
            <button id="logout" class="navbar-item is-hoverable">logout</button>
            {{else}}
            <a href="/" class="navbar-item is-hoverable">home</a>
            <a href="/login" class="navbar-item is-hoverable" id="login-btn">login</a>
            <a href="/signup" class="navbar-item is-hoverable" id="login-btn">sign up</a>
            {{/if}}
        </nav>

    </header>

    <main>
        {{{ body }}}
    </main>


    <footer class="footer rows pb-2">
        <div class="row-is-full content has-text-centered">
            <p>
                by Stefan, Adam, Winter, and Alison
            </p>
        </div>
    </footer>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    </body>