<div class="mb-5 pt-3">
  {{#if posts.length}}
  <h4 class="title">My Game Reviews</h4>

  <ul>
    {{#each posts as |post|}}

    <li class="card-content">
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" id="edit-post-button" class="button">Edit Review</a>
    </li>
    {{/each}}
  </ul>

  {{else}}
  <p class="pb-4 has-text-centered is-italic">You do not currently have any reviews.</p>
  {{/if}}

  <script src="/javascript/create-post.js"></script>