<div class="mb-5 pt-3">
    <p><a href="/dashboard/create/">
    <button id="create-post" class="button is-primary">New Review</button></a></p>  
        <h2 class="title pb-4">My Game Reviews</h2><hr>

{{#if posts.length}}

  {{post_content}}
     <ol>
    {{#each posts as |post|}}
  
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
{{else}}
<h6 class="pb-4 has-text-centered is-italic">you do not currently have any reviews</h6>
{{/if}}

<script src="/javascript/create-post.js"></script>

