
{{#each posts as |post|}}

{{> post-info post}}

</div>
{{else}}
<<<<<<< HEAD
<h6 class="">there are currently no games</h6>
{{/each}}

=======
<h6 class="pb-4 has-text-centered is-italic">there are currently no games</h6>
{{/each}}
>>>>>>> 3b6f8cd65becc036cc4b331129fdae54319b942a
