{{> post-info post}}

<!-- displaying form and comments-->
<!-- only display if logged in -->
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea class="" name="comment-body"></textarea>
      <label for="comment-text">Comment on a Game</label>
      <input type="textarea" name="comment-text" id="comment-text">
      <button id="newcomment-btn">Post Comment</button>
  </div>

<!--
  <div>
    <button class="button" type="submit">add comment</button>
  </div>-->
  
</form>
{{/if}}

{{#each post.comments as |aComment|}}
{{> comments aComment}}
{{/each}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}